$twitch: #9146ff;
$dark: #000;
$light: #f0f0ff;

@mixin title($size) {
  text-align: center;
  font-size: min(#{$size}, 15vw);
  letter-spacing: -.04em;
  line-height: 125%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: $twitch;
  color: $dark;
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif; // This should use Roobert but this is a free Google Fonts alternative
  font-weight: 600;
}

body {
  &,
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #content {
    width: 100%;
    min-height: 100vh;
    margin: auto 1em;
    z-index: 1;

    #title {
      @include title(4em);
    }

    img {
      width: 8em;
      height: 8em;
    }
  }

  a {
    color: $light;
  }

  &.anim-active {
    #content {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    > p {
      position: fixed;
      bottom: 0;
      margin: 1em;
      z-index: 2;
      font-size: .75em;
      font-weight: 400;

      &,
      a {
        transition: color 200ms ease-in-out;
      }
    }
  }

  &.dark {
    background: $dark;
    color: $light;

    a {
      color: $twitch;
    }
  }

  &.post-anim {
    #content {
      h2 {
        @include title(5em);
      }

      > div {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:first-child {
          min-height: 40%;
          justify-content: flex-end;

          @media (min-width: 768px) {
            min-height: 50%;
          }
        }

        &:last-child {
          min-height: 60%;
          padding-bottom: 4em;
          color: $twitch;
          background: $dark;
          justify-content: flex-start;

          @media (min-width: 768px) {
            min-height: 50%;
          }

          a {
            position: relative;
            color: $light;
            transition: color 150ms ease-in-out;

            &:hover {
              color: $twitch;

              span {
                &:last-child {
                  svg {
                    &:first-child {
                      top: -1.5em;
                      right: -1.5em;
                    }

                    &:last-child {
                      top: 0;
                      right: 0;
                    }
                  }
                }
              }
            }

            span {
              &:last-child {
                position: relative;
                display: inline-block;
                width: .5em;
                height: .5em;
                margin: 0 .15em;
                overflow: hidden;

                svg {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  transition: top 300ms ease-in-out, right 300ms ease-in-out;

                  &:first-child {
                    top: 0;
                    right: 0;
                    fill: $light;
                    stroke: $light;
                  }

                  &:last-child {
                    top: 1.5em;
                    right: 1.5em;
                    fill: $twitch;
                    stroke: $twitch;
                  }
                }
              }
            }
          }
        }
      }
    }

    > p {
      color: $light;

      a {
        color: $twitch;
      }
    }
  }
}
